<!DOCTYPE html>

<html>

    <head>
        <title>Rango{% block no_title %} → {% block title %}{% endblock %}{% endblock %}</title>
    </head>

    <body>
        <div>
            <h1><a href="/rango/">Rango</a>
                {% block no_page_title %} → {% block page_title %}{% endblock %}{% endblock %}
            </h1>
        </div>

        <div>
            {% if user.is_authenticated %}
                You are currently logged in as <b>{{ user.username }}</b>.<br/>
            {% endif %}
        </div>

        <br/>
        <hr/>

        <div>
            {% block body_block %}{% endblock %}
        </div>

        <br/>
        <hr/>

        <div>
            <ul>
            {% if user.is_authenticated %}
                {% block logged_in_links %}{% endblock %}
                {% block no_add_category_link %}
                    <li><a href="{% url 'add_category' %}">Add a new category</a></li>
                {% endblock %}
                {% block no_change_password_link %}
                    <li><a href="{% url 'auth_password_change' %}">Change password</a></li>
                {% endblock %}
                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
            {% else %}
                {% block no_register_link %}
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                {% endblock %}
                {% block no_login_link %}
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endblock %}
            {% endif %}
                {% block no_about_link %}
                    <li><a href="{% url 'about' %}">About</a></li>
                {% endblock %}
                <li><a href="/admin/">Admin</a></li><br/>
            </ul>
        </div>
    </body>

</html>