<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>
            {% if category %}
                Rango → {{ category_name }}
            {% else %}
                Rango → Error!
            {% endif %}
        </title>
    </head>

    <body>
        {% if category %}
            <h1><a href="/rango/">Rango</a>
                →
                {{ category_name }}
            </h1>
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                <a href="/rango/category/{{ slug }}/add_page/">Add a new page</a>
            {% else %}
                There are no pages currently in this category.<br/><br/>
                <a href="/rango/category/{{ slug }}/add_page/">Add a new page</a>
            {% endif %}
        {% else %}
            The category <b>{{ slug }}</b> does not exist yet!<br/>
            Do you want to <a href="/rango/add_category/">create it</a>?
        {% endif %}
    </body>

</html>